body {
    text-align: center;
}

#Schl_name {
    font-family: 'Oswald', sans-serif;
}

#welcome {
    background-color: cyan;
    padding-bottom: 25px;
}

#loct_name {
    font-family: 'Oswald', sans-serif;
}

#ED_View_Of_School {
    padding-bottom: 30px;
}

#CL_name {
    font-family: 'Oswald', sans-serif;
}

#School_Surroundings {
    background-color: cyan;
}

#location {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: cyan;
}

#Ach_para {
    font-weight: 600;
    color: black;
}

#achievements {
    background-color: cyan;
}

#Ach_name {
    font-family: 'Oswald', sans-serif;
}

#Gallery_name {
    font-family: 'Oswald', sans-serif;
}

#ach_img {
    height: 500px;
    width: auto;
}

#Gallery {
    background-color: cyan;
}

.menu {
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

#VR {
    height: 300px;
    width: 300px;
}